@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #48cfad;
}

header .header-icons-container .icons {
    width: auto;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.main {
    width: 100%;
    height: 100%;
    /* background-image: url("../assets/img/Cover.png"); */
    background-repeat: no-repeat;
    position: relative;
}

.main .background-image{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.main .main-content{
    height: 100%;
    padding: 5% 25% 0 25%;
    position: absolute;
    z-index: 2;
}

.main .welcome{
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5em;
    font-weight: bold;
    text-align: center;
}

.main .button{
    text-align: center;
    margin-top: 5em;
    margin-top: 15%;
}

.main .button a{
    background-color: #48cfad;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: .3em;
}
